{{- $site := .Site }}
{{- $section := .section }}
{{ with $section }}
<section class="about-started-section">
    <div
        class="container w-full lg:max-w-screen-lg xl:max-w-screen-xl mx-auto py-25 px-5 xl:px-0">
        <div class="lg:w-3/5 mx-auto text-center mb-15">
            <h2
                class="text-3xl xl:text-4xl text-black font-semibold font-heading leading-[1.12] xl:leading-[1.12] mb-5">
                {{ .title }}</h2>
            <div
                class="text-lg md:text-2xl lg:text-[1.188rem] xl:text-2xl text-gray-800 font-body font-medium leading-[1.6] md:leading-[1.6] lg:leading-[1.6] xl:leading-[1.6]">
                {{ .body | markdownify }}
            </div>
        </div>
        <div class="max-w-[796px] p-7.5 rounded-[10px] border border-[#FF044B] relative mx-auto">
            <div class="absolute -top-5 left-0 w-full h-10 flex justify-center items-center">
                <div class="bg-white w-[212px] md:w-[300px] text-center">
                    <h3
                        class="text-primary text-[1.625rem] md:text-4xl lg:text-[1.813rem] xl:text-4xl font-heading font-semibold">
                        It’s a win-win</h3>
                </div>
            </div>
            <div
                class="text-lg md:text-xl lg:text-[1.188rem] xl:text-2xl text-gray-800 font-body font-medium leading-[1.6] md:leading-[1.6] lg:leading-[1.6] xl:leading-[1.6] text-center">
                <p>Sponsors gain visibility and direct engagement with the cloud-native community, while attendees enjoy
                    an affordable, social, and eco-conscious way to reach KubeCon.</p>
            </div>
        </div>
        <div class="flex justify-center pt-10">
            <a href="mailto:sponsors@kubetrain.io"
                class="flex justify-center items-center gap-[3px] px-[47px] pt-[18px] pb-[20px] w-[206px] md:w-[218px] h-[61px] lg:h-[63px] bg-[#FF044B] rounded-[50px]">
                <span class="text-base md:text-xl lg:text-base xl:text-xl font-body font-bold text-white">
                    Become a Sponsor
                </span>
            </a>
        </div>
    </div>
</section>
{{- end }}
