{{- $site := .Site }}
{{- $section := .section }}
{{ with $section }}
<section class="why-join-section bg-black">
    <div
        class="bg-center bg-cover bg-no-repeat bg-black bg-[url(/images/why-join-bg.jpg)] lg:bg-[url(/images/why-join-bg.jpg)]">
        <div class="container w-full lg:max-w-screen-lg xl:max-w-screen-xl mx-auto px-5 xl:px-0">
            <div class="relative rounded-[16px] xl:rounded-[20px] py-25">
                <div class="lg:grid grid-cols-12 border border-[#303030] rounded-[20px]">
                    <div class="lg:col-span-4 p-5.5 border-b border-[#303030]">
                        <div class="flex flex-col justify-between lg:min-h-[290px]">
                            <h3
                                class="text-[3.375rem] text-white font-semibold font-heading leading-[1.12] mb-5">
                                {{ .title }}</h3>
                            <div
                                class="text-lg text-gray-200 font-body leading-[1.6]">
                                {{ .description }}
                            </div>
                        </div>
                    </div>
                    {{ range $index, $items := .items }}
                    <div
                        class="lg:col-span-4 py-10.5 lg:py-5.5 px-5.5 lg:border-l border-b border-[#303030] {{ if eq $index 2 }}lg:border-l-0 {{ end }}{{ if gt $index 1 }}last:border-b-0 lg:border-b-0 {{ end }}">
                        <div class="flex justify-between flex-col lg:min-h-[290px]">
                            <div class="mb-12.5 lg:mb-0">
                                {{- with .icon }}
                                {{ partial (printf "svg/%s.svg" .) (dict "class" "w-12 h-12 text-current") }}
                                {{- end }}
                            </div>
                            <div class="">
                                <h3
                                    class="text-[1.75rem] text-white font-semibold font-heading leading-[1.12] mb-3">
                                    {{ .title }}</h3>
                                <div
                                    class="text-lg text-gray-200 font-body leading-[1.6]">
                                    {{ .body }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{- end }}