{{- $site := .Site }}
{{- $section := .section }}
{{ with $section }}
<section class="about-section">
    <div
        class="container w-full lg:max-w-screen-lg xl:max-w-screen-xl mx-auto py-25 px-5 xl:px-0">
        <div class="space-y-15">
            {{ range .items }}
            <div class="grid grid-cols-12 gap-y-10 md:gap-y-0 md:gap-x-15 lg:gap-x-12 xl:gap-x-15 items-center">
                <div class="col-span-12 md:col-span-6 {{ if eq .image_position "left" }}md:order-2{{ end }}">
                    <div>
                        <h2
                            class="text-3xl md:text-4xl lg:text-[1.813rem] xl:text-4xl text-black font-semibold font-heading leading-[1.12] md:leading-[1.12] lg:leading-[1.12] xl:leading-[1.12] mb-5">
                            {{ .title }}</h2>
                        <div
                            class="text-lg md:text-2xl lg:text-[1.188rem] xl:text-2xl text-gray-800 font-body font-medium leading-[1.6] md:leading-[1.6] lg:leading-[1.6] xl:leading-[1.6]">
                            {{ .body | markdownify }}
                        </div>
                    </div>
                </div>
                <div class="col-span-12 md:col-span-6 {{ if eq .image_position "left" }}md:order-1{{ end }}">
                    <div class="w-full h-full rounded-[10px] overflow-hidden">
                        {{- if fileExists (add `assets/` (string .image)) }}
                        {{ with resources.Get .image }}
                        {{ with .Fill "610x376 center webp" }}
                        <img class="w-full h-full object-cover object-center" src="{{ .RelPermalink }}" alt="cover">
                        {{ end }}
                        {{ end }}
                        {{- end }}
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{- end }}